<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        <form method="post" action="/product/add">
            <div>
                <label>Product Title</label>
                <input type="text" name="ProductName">
            </div>
            <div>
                <label>Price</label>
                <input type="text" name="Price">
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="Description">
            </div>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>